:root {
--header-offset: 6rem;
}

html {
scroll-padding-top: var(--header-offset);
}

[id]:not(input):not(select):not(textarea):not(option):not(button):not(form) {
scroll-margin-top: var(--header-offset);
}
